@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.cdnfonts.com/css/li-ador-noirrit");
/* font-family: 'Rubik', sans-serif; */
/* font-family: "Roboto", sans-serif; */
/* font-family: "Li Ador Noirrit", sans-serif; */

.top-header,
.navbar,
.banner,
.about,
.speach,
.courses,
.visa,
.abroad,
.country-details,
.blog,
.signup,
.signin,
.about-atm,
.appointment,
.team {
  font-family: "Rubik", sans-serif;
}

/* tailwind.css or your CSS file */
.nav-link:focus,
.nav-link:active {
  color: red; /* Set your desired color for the active link */
}
.nav-container {
  position: relative;
}
/* .nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 0%;
  background-color: red;
  transition: all ease 1s;
}
.nav-link:hover::after {
  width: 100%;
} */
/* React calender custom css  start */
.react-calendar__tile--active {
  background: #006edc;
  color: black !important;
  border-radius: 10px;
  background: white !important;
}
.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
  background-color: white !important;
  color: black !important;
  border-radius: 10px;
}
.react-calendar__tile .react-calendar__month-view__days__day {
  color: white !important;
}
.react-calendar__month-view__weekdays {
  color: white !important;
}
.react-calendar__month-view__weekdays {
  color: white !important;
}
.react-calendar__month-view__days__day--neighboringMonth {
  color: #e0dddd !important;
}
/* React calender custom css  end */
#chart {
  max-width: 650px;
  margin: 35px auto;
}

/* custom button css start */

/* custom button css end */

/* Blockquote */

.speech-bubble {
  padding: 20px;
  background: #eeeeee;
  color: #000000;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.5) 0 3px 5px -3px;
  margin: 20px 0;
}
.speech-bubble:after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-style: solid;
  position: absolute;
  top: 0px;
  border-color: #eeeeee;
}
.speech-bubble.speech-bubble-left {
  margin-left: 20px;
  border-radius: 0 4px 4px 4px;
}
.speech-bubble.speech-bubble-left:after {
  border-width: 0 20px 24px 0;
  border-top-color: transparent !important;
  border-left-color: transparent !important;
  border-bottom-color: transparent !important;
  left: -20px;
}
.speech-bubble.speech-bubble-right {
  margin-right: 20px;
  border-radius: 4px 0 4px 4px;
}
.speech-bubble.speech-bubble-right:after {
  border-width: 0 0 24px 20px;
  border-top-color: transparent !important;
  border-right-color: transparent !important;
  border-bottom-color: transparent !important;
  right: -20px;
}
.speech-bubble.speech-bubble-bottom-right {
  margin-bottom: 40px;
  border-radius: 4px;
}
.speech-bubble.speech-bubble-bottom-right:after {
  border-width: 0 24px 20px 0;
  border-top-color: transparent !important;
  border-left-color: transparent !important;
  border-bottom-color: transparent !important;
  top: auto;
  right: 20px;
  bottom: -20px;
}
.speech-bubble.speech-bubble-bottom-left {
  margin-bottom: 40px;
  border-radius: 4px;
}
.speech-bubble.speech-bubble-bottom-left:after {
  border-width: 0 0 20px 24px;
  border-top-color: transparent !important;
  border-right-color: transparent !important;
  border-bottom-color: transparent !important;
  top: auto;
  left: 20px;
  bottom: -20px;
}
.speech-bubble.speech-bubble-red {
  color: white;
  background: #f90101;
}
.speech-bubble.speech-bubble-red:after {
  border-color: #f90101;
}
/*  Speechs & videos Arrow Icon Animation CSS */

.icon {
  transition: transform 0.3s ease;
}

.icon.animate {
  animation: leftIconAnimation 2s infinite; /* Customize duration and other animation properties */
}

@keyframes leftIconAnimation {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(
      -10px
    ); /* Adjust the amount you want the icon to move */
  }
  100% {
    transform: translateX(0);
  }
}

.icon2 {
  transition: transform 0.3s ease;
}

.icon2.animate2 {
  animation: rightIconAnimation 2s infinite; /* Customize duration and other animation properties */
}
@keyframes rightIconAnimation {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(
      -10px
    ); /* Adjust the amount you want the icon to move */
  }
  100% {
    transform: translateX(0);
  }
}

/* Visa */
.pen-container {
  background-color: white;
  overflow-x: hidden;
  min-height: 100vh;
  position: relative;
}
.pen-container::after {
  background: linear-gradient(359deg, #b7bca4 26.23%, #3d94b2 87.37%);
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.4;
  height: 100%;
  width: 100%;
}
.plane {
  left: 0;
  position: absolute;
  transform: rotate(-10deg);
  width: 100%;
  z-index: 1;
}
.plane i {
  animation: motion linear infinite;
  background-image: url("https://assets.codepen.io/732/plane%402x.png");
  background-repeat: no-repeat;
  background-size: 100%;
  position: absolute;
  right: 0;
  transition: 0.4s ease-out;
}
.plane-1 {
  top: 90px;
}
.plane-1 i {
  height: 67px;
  width: 1171px;
  animation-duration: 50s;
  animation-delay: -10s;
}
.plane-2 {
  top: 320px;
}
.plane-2 i {
  height: 58px;
  width: 1007px;
  animation-duration: 60s;
  animation-delay: -4s;
}
.plane-3 {
  top: 30px;
}
.plane-3 i {
  height: 40px;
  width: 693px;
  animation-duration: 75s;
  animation-delay: -33s;
}
.plane-4 {
  top: 261px;
}
.plane-4 i {
  height: 34px;
  width: 594px;
  animation-duration: 85s;
  animation-delay: -50s;
}
.plane-5 {
  top: 449px;
}
.plane-5 i {
  height: 31px;
  width: 528px;
  animation-duration: 100s;
  animation-delay: -33s;
}
.plane-6 {
  top: 204px;
}
.plane-6 i {
  height: 21px;
  width: 363px;
  animation-duration: 110s;
  animation-delay: -2s;
}
.plane-7 {
  top: 0;
}
.plane-7 i {
  height: 21px;
  width: 363px;
  animation-duration: 125s;
  animation-delay: 10s;
}
.plane-8 {
  top: 401px;
}
.plane-8 i {
  height: 18px;
  width: 313px;
  animation-duration: 140s;
  animation-delay: -60s;
}
.plane-9 {
  top: 331px;
}
.plane-9 i {
  height: 14px;
  width: 231px;
  animation-duration: 150s;
  animation-delay: -20s;
}
.plane-10 {
  top: 430px;
}
.plane-10 i {
  height: 12px;
  width: 197px;
  animation-duration: 160s;
}
@keyframes motion {
  0% {
    opacity: 1;
    transform: translateX(-101vw);
  }
  97% {
    opacity: 1;
  }
  98% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    transform: translateX(calc(0% + 100px));
  }
}

/* .pen-container {
  background-color: white;
  overflow-x: hidden;
  min-height: 100vh;
}

.plane {
  left: 0;
  position: absolute;
  transform: rotate(-10deg);
  width: 100%;
  z-index: 1;
}
.plane i {
  animation: motion linear infinite;
  background-image: url("https://assets.codepen.io/732/plane%402x.png");
  background-repeat: no-repeat;
  background-size: 100%;
  position: absolute;
  right: 0;
  transition: 0.4s ease-out;
}
.plane-1 {
  top: 90px;
}
.plane-1 i {
  height: 67px;
  width: 1171px;
  animation-duration: 50s;
  animation-delay: -10s;
}
.plane-2 {
  top: 320px;
}
.plane-2 i {
  height: 58px;
  width: 1007px;
  animation-duration: 60s;
  animation-delay: -4s;
}
.plane-3 {
  top: 30px;
}
.plane-3 i {
  height: 40px;
  width: 693px;
  animation-duration: 75s;
  animation-delay: -33s;
}
.plane-4 {
  top: 261px;
}
.plane-4 i {
  height: 34px;
  width: 594px;
  animation-duration: 85s;
  animation-delay: -50s;
}
.plane-5 {
  top: 449px;
}
.plane-5 i {
  height: 31px;
  width: 528px;
  animation-duration: 100s;
  animation-delay: -33s;
}
.plane-6 {
  top: 204px;
}
.plane-6 i {
  height: 21px;
  width: 363px;
  animation-duration: 110s;
  animation-delay: -2s;
}
.plane-7 {
  top: 0;
}
.plane-7 i {
  height: 21px;
  width: 363px;
  animation-duration: 125s;
  animation-delay: 10s;
}
.plane-8 {
  top: 401px;
}
.plane-8 i {
  height: 18px;
  width: 313px;
  animation-duration: 140s;
  animation-delay: -60s;
}
.plane-9 {
  top: 331px;
}
.plane-9 i {
  height: 14px;
  width: 231px;
  animation-duration: 150s;
  animation-delay: -20s;
}
.plane-10 {
  top: 430px;
}
.plane-10 i {
  height: 12px;
  width: 197px;
  animation-duration: 160s;
}
@keyframes motion {
  0% {
    opacity: 1;
    transform: translateX(-101vw);
  }
  97% {
    opacity: 1;
  }
  98% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    transform: translateX(calc(0% + 100px));
  }
} */

/* Team card */
.team-card {
  /* width: calc(300px / 1.5); */
  width: 300px;
  height: 300px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: 0 36px;
  perspective: 2500px;
  margin: 0 50px;
}

.cover-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.team-wrapper {
  transition: all 0.5s;
  position: absolute;
  width: 100%;
  z-index: -1;
}

.team-card:hover .tean-wrapper {
  transform: perspective(900px) translateY(-5%) rotateX(25deg) translateZ(0);
  box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
}

.team-wrapper::before,
.team-wrapper::after {
  content: "";
  opacity: 0;
  width: 100%;
  height: 80px;
  transition: all 0.5s;
  position: absolute;
  left: 0;
}
.team-wrapper::before {
  top: 0;
  height: 100%;
  background-image: linear-gradient(
    to top,
    transparent 46%,
    rgba(12, 13, 19, 0.5) 68%,
    rgba(12, 13, 19) 97%
  );
}

.team-wrapper::after {
  bottom: 0;
  opacity: 0.8;
  background-image: linear-gradient(
    to bottom,
    transparent 0%,
    rgba(12, 13, 19, 0.5) 68%,
    rgba(12, 13, 19) 97%
  );
}

.team-card:hover .team-wrapper::before,
.team-wrapper::after {
  opacity: 1;
}

.team-card:hover .team-wrapper::after {
  height: 120px;
}
.title {
  width: 100%;
  transition: transform 0.5s;
}
.team-card:hover .title {
  transform: translate3d(0%, -50px, 100px);
}

.character {
  width: 100%;
  opacity: 0;
  transition: all 0.5s;
  position: absolute;
  z-index: -1;
}

.team-card:hover .character {
  opacity: 1;
  transform: translate3d(0%, -30%, 100px);
}
